[Desktop Entry]
Version=1.0
Name=Basilisk (beta)
Comment=Basilisk web browser (beta)
Exec=basilisk %u
Terminal=false
X-MuiltpleArgs=false
Type=Application
Icon=basilisk-beta
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;application/vnd.mozilla.xul+xml;text/mml
StartupNotify=true
